@font-face {
	font-family: LatoBold;
	src: url('../fonts/Lato-bold.ttf');
}
@font-face {
	font-family: LatoHeavy;
	src: url('../fonts/Lato-Heavy.ttf');
}
@font-face {
	font-family: LatoLight;
	src: url('../fonts/Lato-light.ttf');
}
@font-face {
	font-family: LatoRegular;
	src: url('../fonts/Lato-regular.ttf');
}
@font-face {
	font-family: Helvetica;
	src: url('../fonts/Helvetica.otf');
}